# Large files (>50MB) — too big for GitHub
大一下/大一下教材/二极管三极管mos管教材—童诗白模拟电子技术基础*
大一下/大一下教材/(已打书签)大学物理学（第三版下）.pdf
大一下/大一下教材/电路基础教材-邱关源电路第6版*
大一下/微积分2/ppt/第九章多元函数微分法及其应用.rar
大一下/大一下教材/(已打书签)大学物理学（第三版上）.pdf
大一下/大一下教材/高等数学*
大一下/大一下教材/阎石数字电子技术基础第六版*
大一下/微积分2/ppt/第八章空间解析几何与向量代数.rar
大一下/微积分2/ppt/第七章微分方程.rar
大一下/电路原理/课件/2026二极管.pptx
大一下/大一下教材/(已打书签)概率论与数理统计(第五版)*
大一下/大一下教材/(已打书签)电工电子学(第5版)*

# Windows special files
nul
